.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home-page{
  position: absolute;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.object-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  list-style: none;
  width: 70vw;
  height: 550px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 5%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 222px;
  height: 160px;
  margin: 10px;
  background-color: #D9D9D9;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-shrink: 0;
}
.item:hover{
  background-color: #b5b5b5;
}

.item-content{
  position: relative;
  width: 172px;
  height: 160px;
  top: 24px;
}

#create-report{
  width: 230px;
  height: 60px;
  position: relative;
  left: 20vw;
  border-radius: 13px;
  background-color: #3A0084;
  color: white;
}

#plus-block{
  width: 220px;
  height: 134px;
  margin-top: 20px;
  background-color: #B3D2BA;
}

#plus {
	width: 80px;
	height: 80px;
	background: linear-gradient(to bottom, transparent 50%, #000 50%, #000 52%, transparent 50%), linear-gradient(to right, transparent 50%, #000 50%, #000 52%, transparent 50%);
}

.name{
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  width: 200px;
}

.batches{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 38%;
}

.date{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000082;
  position: relative;
  top: 40%;
}

.dark {
  background: #000;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.modal {
  width: 521px;
  height: 457px;
  position: fixed;
  top: 27%;
  left: 32%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.modal-text{
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}

.modal-content{
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.obj-input{
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0;
  border: 1px solid #000000;
}

.green-button{
  width: 121px;
  height: 46px;
  background: #00A524;
  color: white;
  position: relative;
  margin-top: 40px;
  left: 241px;
}

#object-page{
  position: absolute;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#obj-header{
  width: 70%;
  height: 130px;
  display: flex;
  flex-direction: row;
}

#obj-text{
  height: 10vh;
  width: 40%;
  position: relative;
  left: 1%;
}

#obj-name{
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

#obj-comment{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 20px;
  color: #000000B5;
}

.obj-btn {
  width: 131px;
  height: 40px;
  color: white;
  margin: 5px;
}

#obj-btns{
  display: flex;
  width: 40%;
  height: 53px;
  flex-direction: row;
  left: 9%;
  top: 60px;
  position: relative;
  align-items: center;
  justify-content: right;
}
#red-btn{
  background-color: red;
}

#blue-btn{
  background-color: blue;
}

#grey-btn{
  color:#000;
  background: #D9D9D9;
}

#create-obj-page{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#create-obj-content{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#menu{
  width: 50%;
  height: 5vh;
  margin: 2vh;
  position: relative;
}

.menu-btn{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
}

.menu-line{
  width: 400px;
  height: 5px;
  background-color: #D9D9D9;
}

input[type=file]#img-upload::file-selector-button{
  width: 362px;
  height: 183px;
  background: #D9D9D9;
  background-image: url("./icons/upload_folder.png");
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(0, 0, 0, 0);
  margin-top: 50px;
}

#img-window{
  width: 143vh;
  height: 70vh;
  display: flex;
  flex-direction: row;
  border: 1px solid yellow;
}

#img-edit{
  width: 93vh;
  height: 70vh;
  position: relative;
  background-size: contain;
}

#img-info{
  width: 45vh;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  left: 5vh;
  background-color: #D9D9D9;
}

.rect-info{
  margin: 5px;
}
#rect-gauge{
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.3);
}
#rect-type{
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.3);
}
#rect-date{
  border: 1px solid rgb(204, 204, 1);
  background-color: rgba(255, 255, 0, 0.3);
}
#rect-temp{
  border: 1px solid blueviolet;
  background-color: rgba(137, 43, 226, 0.3);
}

.img-text{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.report-btn{
  width: 414px;
  height: 68px;
  border-radius: 22px;
}

.report-graph{
  margin: 5px;
  border: 1px solid red;
}

.report-table{
  margin: 5px;
  border: 1px solid blue;
}

#report-container{
  width: 70vw;
  height: 70vh;
  display: grid;
  grid-template-rows: 40vh 40vh;
}

#file-tree{
  overflow-y: auto;
  width: 30vh;
  height: 95vh;
}

.borderBlack {
  border: 5px solid black;
}